/* Write your CSS here */
.event-img {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 460px;
  max-height: 180px;
}
.event-head {
  font-size: 20px;
}
.item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.btn {
  border: none;
  outline: none;
  background-color: transparent;
}
